<div class="simpleContainer">
	<h2> Categories:</h2>
	<table class="tg">
		<thead>
			<tr>
				<th class="tg-2n6j">Name</th>
                <th class="tg-2n6j hideInfo">Description</th>
                <th class="tg-2n6j hideInfo">Image</th>
                <th class="tg-2n6j">Actions</th>
			</tr>
		</thead>
		<tbody>
				<tr data-ng-repeat="category in categoriesVM.categories">
					<td class="tg-2n6j">{{category.name}}</td>
					<td class="tg-2n6j hideInfo">{{category.description}}</td>
					<td class="tg-2n6j hideInfo">
						<span data-ng-if="category.image==''">No</span>
						<span data-ng-if="category.image!=''">Yes</span>
					<td class="tg-2n6jActions"><a class="linkButton" href="#!/editCategory/{{category.id}}">Edit</a>
					  <a class="linkButton" href="#!/deleteCategory/{{category.id}}">Delete</a></td>
				</tr>
    	</tbody>	
	</table>	
	<div class="editContainer">
   		<a class="linkButton" href="#!/addCategory">Add New</a>
   	</div>
</div><!-- simpleContainer -->