<div class="simpleContainer">
		<h2 data-ng-show="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/addDish')">Add dish</h2>
		<h2 data-ng-show="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/editDish/'+dishesHandlerVM.dish.id)">Edit dish</h2>
		<h2 data-ng-show="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/deleteDish/'+dishesHandlerVM.dish.id)">Delete dish</h2>
		<form data-ng-submit="dishesHandlerVM.functions.dishesHandlerSwitcher()">
		<input type="hidden" name="idd">
			<label class="inputLabel" for="dishName">Name:</label>
			<input class="inputStyle" type="text" id="dishName"
				name="dishName" placeholder="Dish name..."
				data-ng-model="dishesHandlerVM.dish.name"
				data-ng-readonly="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/deleteDish/'+dishesHandlerVM.dish.id)" required>
			<label class="inputLabel" for="dishDescription">Description:</label>
			<input class="inputStyle" type="text" id="dishDescription"
				name="dishDescription" placeholder="Dish description..."
				data-ng-model="dishesHandlerVM.dish.description"
				data-ng-readonly="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/deleteDish/'+dishesHandlerVM.dish.id)" required>
			<label class="inputLabel" for="dishImage">Image:</label>
			<input class="inputStyle" type="text" id="dishImage"
				name="dishImage" placeholder="Dish image url..."
				data-ng-model="dishesHandlerVM.dish.image"
				data-ng-readonly="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/deleteDish/'+dishesHandlerVM.dish.id)">
			<label class="inputLabel" for="dishPrice">Price:</label>
			<input class="inputStyle" type="number" step="0.01" id="dishPrice"
				name="dishPrice" placeholder="Dish price..."
				data-ng-model="dishesHandlerVM.dish.price"
				data-ng-readonly="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/deleteDish/'+dishesHandlerVM.dish.id)" required>
			<input data-ng-show="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/addDish')"
				class="submitButton" type="submit" value="Add">
			<input data-ng-show="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/editDish/'+dishesHandlerVM.dish.id)"
				class="submitButton" type="submit" value="Edit">
			<input data-ng-show="dishesHandlerVM.functions.where('/editMenu/{{dishesHandlerVM.idr}}/deleteDish/'+dishesHandlerVM.dish.id)"
				class="submitButton" type="submit" value="Delete">
		</form>
	</div><!-- simpleContainer -->